// -------------------------------------------
//   Article detail
// -------------------------------------------

.article-detail {
  .article-detail-content {
    a {
      text-decoration: underline;
    }

    iframe {
      margin-bottom: $ms-ratio;
    }

    img {
      width: 100%;
      margin-bottom: $ms-ratio;
    }
  }
}