// -------------------------------------------
//   Container
// -------------------------------------------

.container {
  width: 100%;
  max-width: $container-max-width;
  position: relative;

  margin: 0 auto;
  padding: 0 15px;
}