// -------------------------------------------
//   Horizontal navigation
// -------------------------------------------

.navigation {
  @include delta();

  @include breakpoint(notsmall) {
    columns: 2;

    a {
      display: block;
    }
  }

  @include breakpoint(small) {
    display: flex;
    justify-content: space-around;

    border-top: 1px solid $default-border-color;
  }
}