// -------------------------------------------
//   Defaults
//     -> Base styles
// -------------------------------------------

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  box-sizing: border-box;

  font-family: $font-base;

  > a, > div {
    display: none!important;
  }
}

h1, h2, h3, h4, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
    color: inherit;
  }
}

figure {
  display: inline-block;
}

table {
  width: 80%;
  text-align: center;

  th, td {
    border: 1px solid $default-border-color;
  }

  @include breakpoint(small) {
    width: 100%;
  }
}

[class*=icon-] {
  display: inline-block;
  background-size: cover;
}