// -------------------------------------------
//   Helpers
// -------------------------------------------

.hide-mobile {
  @include breakpoint(small) {
    display: none;
  }
}

.default-margin {
  display: inline-block;
  margin-bottom: $ms-ratio;
}