// -------------------------------------------
//   Global variables
// -------------------------------------------

// Measures

$container-max-width: 1030px;
$ms-base: 16px;
$ms-ratio: 24px;
$ms-rem-ratio: #{$ms-ratio / $ms-base};

// Colors

$default-border-color: rgba(0,0,0,.5);
$white: #FFF;

// Fonts

$font-base: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;