{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}
<article class="article-detail">
  <header>
    <h1>{{ .Title }}</h1>
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
      {{ .Date.Format "Jan 2, 2006" }}
    </time>

    <section>
      {{ range .Params.tags }}
      <a href="{{ $baseurl }}/tags/{{ . | urlize }}">#{{ . }}</a>
      {{ end }}
    </section>
  </header>

  <section class="article-detail-content">
    {{ .Content }}
  </section>

  <footer>
    <section class="author-info row">
      <section class="author-avatar col-md-2">
        {{ with .Site.Params.avatar }}
        <img alt="Author Avatar" src="{{ . }}" />
        {{ end }}
      </section>
      <section class="author-meta col-md-6">
        {{ with .Site.Params.author }}
        <h1 class="author-name text-primary">{{ . }}</h1>
        {{ end }}
        {{ with .Site.Params.bio }}
        <section class="author-bio">{{ . }}</section>
        {{ end }}
      </section>
      {{ with .Site.Params.contact }}
      <section class="author-contact col-md-4">
        <a href="{{ . }}">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          &nbsp;Contact me
        </a>
      </section>
      {{ end }}
    </section>

    <ul class="pager">
      <li>
        {{ if .Next }}
        <a href="{{ .Next.Permalink }}"><span aria-hidden="true">&larr;</span> {{ ( index $.Site.Data.translations $.Site.Params.locale ).pagination.prev }}</a>
        {{ end }}
      </li>

      <li>
        {{ if .Prev }}
        <a href="{{ .Prev.Permalink }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).pagination.next }} <span aria-hidden="true">&rarr;</span></a>
        {{ end }}
      </li>
    </ul>
  </footer>
</article>

{{ partial "footer.html" . }}
