// -------------------------------------------
//   Article list
// -------------------------------------------

.post-list {
  $border-def: 1px solid $default-border-color;

  line-height: 2.7;

  .post-list-item {
    border-top: $border-def;
    padding-bottom: 1px;

    &:last-child {
      border-bottom: $border-def;
    }

    > :last-child {
      @include zeta();
    }

  }

  @include breakpoint(notsmall) {
    .post-list-item {
      width: 100%;
      display: flex;

      > :first-child {
        width: 12%;
      }

      > :nth-child(2) {
        width: 38%;
        line-height: 1.3;
      }

      > :last-child {

        width: 50%;
      }

      > * {
        margin-bottom: 0;
      }
    }
  }
}