// -------------------------------------------
//   Ramble list
// -------------------------------------------

.ramble-list {
  $margin: 50px;

  @include clearfix();

  border-top: 1px solid $default-border-color;
  padding: $ms-ratio 0 1px 0;

  .ramble-list-item {
    width: calc(40% - #{$margin});
    display: inline-block;

    &:first-child {
      float: left;
      width: 60%;
      margin-right: $margin;
    }

    img {
      width: 100%;
    }
  }
}