// -------------------------------------------
//   Search Box
// -------------------------------------------

.search-form {
  input {
    @include beta();

    width: 100%;

    outline: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid $default-border-color;
     -webkit-appearance: none;
  }
}